
body{
    text-align: center; margin-left: 500px; margin-top: 50px; margin-bottom: 50px; background:linear-gradient(to right, #fc5c7d, #6a82fb)
}

.box_choose{
    background-color: white;
    width: 500px; height: 600px; align-items: center; border-radius:80px;
    font-family:fantasy;
}
.class_11
{
    color: white; background-color: red; text-align: center; font-size: 30px; width: 413.06px;
    font-family:fantasy;
}
.class_12
{
    color: white; background-color: blue; text-align: center; font-size: 30px; width: 413.06px; 
    font-family:fantasy;
}
.neet{
    color: white; background-color: green; text-align: center; font-size: 30px; width: 413.06px;
    font-family:fantasy;
}
.jee{
    color: white; background-color:aquamarine; text-align: center; font-size: 30px; width: 413.06px;
    font-family:fantasy;
}
.choose{
    font-size: 75px;
}
button{
    padding: 11px; font-family:'Times New Roman', Times, serif; 
}
fieldset{
    background:linear-gradient(to right, rgb(71, 68, 68), rgb(160, 155, 155))
}