h1
{
	color:black;
	font-family: 'Roboto Mono';
}
body{
	background-image:url('5231.jpg');
}
p{
	font-family: italic;
	color: white;
}
button{
	background-color:gold;
	style-color:black;
	width:70px;
	height:25px;
	border-radius:20px;
}
form{
	text-align:center;
	color:white;
	background:linear-gradient(to right,gray,lightgray,gray);
	padding:5px;
	font-family:Candara;
	font-size:18px;
	margin-top:150px;
	border-radius:20px;
	border-style: groove;
	width:400px;
	justify-contents:center;
	align-items:center;
}
legend{
	color:black;
}
fieldset{
	color:black;
}
