body
{
    text-align: center;
    color: white;
    background-image:url(https://tse1.mm.bing.net/th?id=OIP.iHPbuN87C2DQuAwMEY7qSQHaEo&pid=Api&P=0);  background-size:100%;
    font: 10px;
   padding:-19px
    height:600px;
    
}
h1
{
    background-color:black;
    color:rgb(255, 0, 0);
    font-family:candara;
    margin-top:220px;
    margin-left:470px;
    margin-right:470px;
    padding:20px;
    font-size: 35px;
    text-shadow:2px 2px yellow;

}
h2
{
    background-color:black;
    color:greenyellow;
    font-family:verdana;
    margin-top:-60px;
    margin-left:470px;
    margin-right:470px;
    padding:15px;
    font-size: 20px;
    
}
h3
{ 
    background-color:black;
    color:greenyellow;
    font-family:verdana;
    margin-top:-60px;
    margin-left:470px;
    margin-right:470px;
    padding:20px;
    font-size:19px;
}
h4
{
    background-color:black;
    font-family:verdana;
    padding:20px;
    margin-top:-19px;
    margin-left:470px;
    margin-right:470px;
    font-size:30px;
}
.button
{
    
    font-family:verdana;
    border:1px solid black transparent;
    border-radius:5px;
    padding:5px 20px;
    position:center;
    left:50%;
    font-size:20px;
    text-decoration: none;
    color:yellow;

}
.button:hover
{
    background-color:red;
    transition: 1s ease;
    text-decoration:none;
    padding:5px 15px;

}